In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"Dataset .csv")

In [3]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

In [4]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [5]:
df.isna().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [6]:
print(df["Restaurant Name"].dtype)

object

In [7]:
from scipy import stats

In [8]:
column_name = df.columns.tolist()

In [9]:
column_name

['Restaurant ID',
 'Restaurant Name',
 'Country Code',
 'City',
 'Address',
 'Locality',
 'Locality Verbose',
 'Longitude',
 'Latitude',
 'Cuisines',
 'Average Cost for two',
 'Currency',
 'Has Table booking',
 'Has Online delivery',
 'Is delivering now',
 'Switch to order menu',
 'Price range',
 'Aggregate rating',
 'Rating color',
 'Rating text',
 'Votes']

In [10]:
df1 = df.drop(columns= ["Country Code", "Longitude", "Latitude", "Cuisines", "Currency", "Address", "Locality Verbose"] , axis = 1)

In [11]:
df1.isnull().sum()

Restaurant ID           0
Restaurant Name         0
City                    0
Locality                0
Average Cost for two    0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   City                  9551 non-null   object
 3   Locality              9551 non-null   object
 4   Average Cost for two  9551 non-null   int64
 5   Has Table booking     9551 non-null   object
 6   Has Online delivery   9551 non-null   object
 7   Is delivering now     9551 non-null   object
 8   Switch to order menu  9551 non-null   object
 9   Price range           9551 non-null   int64
 10  Aggregate rating      9551 non-null   float64
 11  Rating color          9551 non-null   object
 12  Rating text           9551 non-null   object
 13  Votes                 9551 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 1.0+ MB

In [13]:
df1

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,Makati City,"Century City Mall, Poblacion, Makati City",1100,Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,Makati City,"Little Tokyo, Legaspi Village, Makati City",1200,Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,Mandaluyong City,"Edsa Shangri-La, Ortigas, Mandaluyong City",4000,Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",1500,No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",1500,Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,ï¿½ï¿½stanbul,Karakï¿½_y,80,No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz Aï¿½ï¿½acÛ±,ï¿½ï¿½stanbul,Koï¿½ï¿½uyolu,105,No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,ï¿½ï¿½stanbul,Kuruï¿½_eï¿½ï¿½me,170,No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aï¿½ï¿½ï¿½k Kahve,ï¿½ï¿½stanbul,Kuruï¿½_eï¿½ï¿½me,120,No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,ï¿½ï¿½stanbul,Moda,55,No,No,No,No,2,4.0,Green,Very Good,591

In [14]:
restaurant_target_mean = df1.groupby('Restaurant Name')['Aggregate rating'].mean()

In [15]:
restaurant_target_mean

Restaurant Name
#45                     3.6
#Dilliwaala6            3.7
#InstaFreeze            0.0
#OFF Campus             3.7
#Urban Cafï¿½ï¿½            3.3
                       ...
t Lounge by Dilmah      3.6
tashas                  4.1
wagamama                3.7
{Niche} - Cafe & Bar    4.1
ï¿½ukuraï¿½ï¿½a SofrasÛ±       4.4
Name: Aggregate rating, Length: 7446, dtype: float64

In [16]:
df1['Restaurant Name'] = df1['Restaurant Name'].map(restaurant_target_mean)

print(df)

      Restaurant ID           Restaurant Name  Country Code              City  \
0           6317637          Le Petit Souffle           162       Makati City
1           6304287          Izakaya Kikufuji           162       Makati City
2           6300002    Heat - Edsa Shangri-La           162  Mandaluyong City
3           6318506                      Ooma           162  Mandaluyong City
4           6314302               Sambo Kojin           162  Mandaluyong City
...             ...                       ...           ...               ...
9546        5915730               NamlÛ± Gurme           208         ï¿½ï¿½stanbul
9547        5908749              Ceviz Aï¿½ï¿½acÛ±           208         ï¿½ï¿½stanbul
9548        5915807                     Huqqa           208         ï¿½ï¿½stanbul
9549        5916112               Aï¿½ï¿½ï¿½k Kahve           208         ï¿½ï¿½stanbul
9550        5927402  Walter's Coffee Roastery           208         ï¿½ï¿½stanbul

                                                Address  \
0     Third Floor, Century City Mall, Kalayaan Avenu...
1     Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2     Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3     Third Floor, Mega Fashion Hall, SM Megamall, O...
4     Third Floor, Mega Atrium, SM Megamall, Ortigas...
...                                                 ...
9546  Kemankeï¿½ï¿½ Karamustafa Paï¿½ï¿½a Mahallesi, RÛ±htÛ±m ...
9547  Koï¿½ï¿½uyolu Mahallesi, Muhittin ï¿½ï¿½stï¿½_ndaï¿½ï¿½ Cadd...
9548  Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...
9549  Kuruï¿½_eï¿½ï¿½me Mahallesi, Muallim Naci Caddesi, N...
9550  Cafeaï¿½ï¿½a Mahallesi, BademaltÛ± Sokak, No 21/B, ...

                                        Locality  \
0      Century City Mall, Poblacion, Makati City
1     Little Tokyo, Legaspi Village, Makati City
2     Edsa Shangri-La, Ortigas, Mandaluyong City
3         SM Megamall, Ortigas, Mandaluyong City
4         SM Megamall, Ortigas, Mandaluyong City
...                                          ...
9546                                    Karakï¿½_y
9547                                   Koï¿½ï¿½uyolu
9548                                 Kuruï¿½_eï¿½ï¿½me
9549                                 Kuruï¿½_eï¿½ï¿½me
9550                                        Moda

                                       Locality Verbose   Longitude  \
0     Century City Mall, Poblacion, Makati City, Mak...  121.027535
1     Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101
2     Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831
3     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475
4     SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508
...                                                 ...         ...
9546                                Karakï¿½_y, ï¿½ï¿½stanbul   28.977392
9547                               Koï¿½ï¿½uyolu, ï¿½ï¿½stanbul   29.041297
9548                             Kuruï¿½_eï¿½ï¿½me, ï¿½ï¿½stanbul   29.034640
9549                             Kuruï¿½_eï¿½ï¿½me, ï¿½ï¿½stanbul   29.036019
9550                                    Moda, ï¿½ï¿½stanbul   29.026016

       Latitude                          Cuisines  ...          Currency  \
0     14.565443        French, Japanese, Desserts  ...  Botswana Pula(P)
1     14.553708                          Japanese  ...  Botswana Pula(P)
2     14.581404  Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3     14.585318                   Japanese, Sushi  ...  Botswana Pula(P)
4     14.584450                  Japanese, Korean  ...  Botswana Pula(P)
...         ...                               ...  ...               ...
9546  41.022793                           Turkish  ...  Turkish Lira(TL)
9547  41.009847   World Cuisine, Patisserie, Cafe  ...  Turkish Lira(TL)
9548  41.055817            Italian, World Cuisine  ...  Turkish Lira(TL)
9549  41.057979                   Restaurant Cafe  ...  Turkish Lira(TL)
9550  40.984776                              Cafe  ...  Turkish Lira(TL)

     Has Table booking Has Online delivery Is delivering now  \
0                  Yes                  No                No
1                  Yes                  No                No
2                  Yes                  No                No
3                   No                  No                No
4                  Yes                  No                No
...                ...                 ...               ...
9546                No                  No                No
9547                No                  No                No
9548                No                  No                No
9549                No                  No                No
9550                No                  No                No

     Switch to order menu Price range  Aggregate rating  Rating color  \
0                      No           3               4.8    Dark Green
1                      No           3               4.5    Dark Green
2                      No           4               4.4         Green
3                      No           4               4.9    Dark Green
4                      No           4               4.8    Dark Green
...                   ...         ...               ...           ...
9546                   No           3               4.1         Green
9547                   No           3               4.2         Green
9548                   No           4               3.7        Yellow
9549                   No           4               4.0         Green
9550                   No           2               4.0         Green

     Rating text Votes
0      Excellent   314
1      Excellent   591
2      Very Good   270
3      Excellent   365
4      Excellent   229
...          ...   ...
9546   Very Good   788
9547   Very Good  1034
9548        Good   661
9549   Very Good   901
9550   Very Good   591

[9551 rows x 21 columns]

In [17]:
df1

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,4.8,Makati City,"Century City Mall, Poblacion, Makati City",1100,Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,4.5,Makati City,"Little Tokyo, Legaspi Village, Makati City",1200,Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,4.4,Mandaluyong City,"Edsa Shangri-La, Ortigas, Mandaluyong City",4000,Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,4.9,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",1500,No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,4.8,Mandaluyong City,"SM Megamall, Ortigas, Mandaluyong City",1500,Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4.1,ï¿½ï¿½stanbul,Karakï¿½_y,80,No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,4.2,ï¿½ï¿½stanbul,Koï¿½ï¿½uyolu,105,No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,3.7,ï¿½ï¿½stanbul,Kuruï¿½_eï¿½ï¿½me,170,No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,4.0,ï¿½ï¿½stanbul,Kuruï¿½_eï¿½ï¿½me,120,No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,4.0,ï¿½ï¿½stanbul,Moda,55,No,No,No,No,2,4.0,Green,Very Good,591

In [18]:
df1["City"].value_counts(normalize= True)

City
New Delhi           0.573029
Gurgaon             0.117056
Noida               0.113077
Faridabad           0.026280
Ghaziabad           0.002618
                      ...
Panchkula           0.000105
Mc Millan           0.000105
Mayfield            0.000105
Macedon             0.000105
Vineland Station    0.000105
Name: proportion, Length: 141, dtype: float64

In [19]:
City_name_freq = df1["City"].value_counts(normalize= True)

In [20]:
df1['City'] = df1['City'].map(City_name_freq)

In [21]:
df1

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,4.8,0.000209,"Century City Mall, Poblacion, Makati City",1100,Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,4.5,0.000209,"Little Tokyo, Legaspi Village, Makati City",1200,Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,4.4,0.000419,"Edsa Shangri-La, Ortigas, Mandaluyong City",4000,Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,4.9,0.000419,"SM Megamall, Ortigas, Mandaluyong City",1500,No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,4.8,0.000419,"SM Megamall, Ortigas, Mandaluyong City",1500,Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4.1,0.001466,Karakï¿½_y,80,No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,4.2,0.001466,Koï¿½ï¿½uyolu,105,No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,3.7,0.001466,Kuruï¿½_eï¿½ï¿½me,170,No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,4.0,0.001466,Kuruï¿½_eï¿½ï¿½me,120,No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,4.0,0.001466,Moda,55,No,No,No,No,2,4.0,Green,Very Good,591

In [22]:
df1["Locality"].value_counts()

Locality
Connaught Place                                122
Rajouri Garden                                  99
Shahdara                                        87
Defence Colony                                  86
Malviya Nagar                                   85
                                              ...
Lemon Tree Premier, Sector 29                    1
Omaxe Celebration Mall, Sohna Road, Gurgaon      1
Park Inn, Sector 15, Gurgaon                     1
Plaza Mall, MG Road                              1
Moda                                             1
Name: count, Length: 1208, dtype: int64

In [23]:
restaurant_locality = df1.groupby("Locality")["Aggregate rating"].mean()
restaurant_locality

Locality
 ILD Trade Centre Mall, Sohna Road     3.050000
12th Square Building, Banjara Hills    4.300000
A Hotel, Gurdev Nagar                  3.600000
ARSS Mall, Paschim Vihar               3.100000
Aaya Nagar                             0.000000
                                         ...
ibis New Delhi, Aerocity               1.550000
ï¿½ayyolu                                4.300000
ï¿½guas Claras                           3.666667
ï¿½ukurambar                             3.400000
ï¿½ï¿½mitkï¿½_y                              4.200000
Name: Aggregate rating, Length: 1208, dtype: float64

In [24]:
df1["Locality"] = df1["Locality"].map(restaurant_locality)

In [25]:
df1

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,4.8,0.000209,4.80,1100,Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,4.5,0.000209,4.50,1200,Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,4.4,0.000419,4.40,4000,Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,4.9,0.000419,4.70,1500,No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,4.8,0.000419,4.70,1500,Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4.1,0.001466,4.40,80,No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,4.2,0.001466,4.20,105,No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,3.7,0.001466,3.85,170,No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,4.0,0.001466,3.85,120,No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,4.0,0.001466,4.00,55,No,No,No,No,2,4.0,Green,Very Good,591

In [26]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df1["Has Table booking"] = label_encoder.fit_transform(df["Has Table booking"])

df1["Has Online delivery"] = label_encoder.fit_transform(df["Has Online delivery"])

df1["Is delivering now"] = label_encoder.fit_transform(df["Is delivering now"])

df1["Switch to order menu"] = label_encoder.fit_transform(df["Switch to order menu"])

In [27]:
df1

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,4.8,0.000209,4.80,1100,1,0,0,0,3,4.8,Dark Green,Excellent,314
1,6304287,4.5,0.000209,4.50,1200,1,0,0,0,3,4.5,Dark Green,Excellent,591
2,6300002,4.4,0.000419,4.40,4000,1,0,0,0,4,4.4,Green,Very Good,270
3,6318506,4.9,0.000419,4.70,1500,0,0,0,0,4,4.9,Dark Green,Excellent,365
4,6314302,4.8,0.000419,4.70,1500,1,0,0,0,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4.1,0.001466,4.40,80,0,0,0,0,3,4.1,Green,Very Good,788
9547,5908749,4.2,0.001466,4.20,105,0,0,0,0,3,4.2,Green,Very Good,1034
9548,5915807,3.7,0.001466,3.85,170,0,0,0,0,4,3.7,Yellow,Good,661
9549,5916112,4.0,0.001466,3.85,120,0,0,0,0,4,4.0,Green,Very Good,901
9550,5927402,4.0,0.001466,4.00,55,0,0,0,0,2,4.0,Green,Very Good,591

In [28]:
df1["Rating color"].value_counts()

Rating color
Orange        3737
White         2148
Yellow        2100
Green         1079
Dark Green     301
Red            186
Name: count, dtype: int64

In [29]:
rating_frequency = df1["Rating color"].value_counts(normalize= True)
df1["Rating color"] = df1["Rating color"].map(rating_frequency)

In [30]:
df1

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,4.8,0.000209,4.80,1100,1,0,0,0,3,4.8,0.031515,Excellent,314
1,6304287,4.5,0.000209,4.50,1200,1,0,0,0,3,4.5,0.031515,Excellent,591
2,6300002,4.4,0.000419,4.40,4000,1,0,0,0,4,4.4,0.112972,Very Good,270
3,6318506,4.9,0.000419,4.70,1500,0,0,0,0,4,4.9,0.031515,Excellent,365
4,6314302,4.8,0.000419,4.70,1500,1,0,0,0,4,4.8,0.031515,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4.1,0.001466,4.40,80,0,0,0,0,3,4.1,0.112972,Very Good,788
9547,5908749,4.2,0.001466,4.20,105,0,0,0,0,3,4.2,0.112972,Very Good,1034
9548,5915807,3.7,0.001466,3.85,170,0,0,0,0,4,3.7,0.219872,Good,661
9549,5916112,4.0,0.001466,3.85,120,0,0,0,0,4,4.0,0.112972,Very Good,901
9550,5927402,4.0,0.001466,4.00,55,0,0,0,0,2,4.0,0.112972,Very Good,591

In [31]:
df1["Rating text"].value_counts()

Rating text
Average      3737
Not rated    2148
Good         2100
Very Good    1079
Excellent     301
Poor          186
Name: count, dtype: int64

In [32]:
rating_mapping = {
    'Excellent': 5,
    'Very Good': 4,
    'Good': 3,
    'Average': 2,
    'Poor': 1,
    'Not rated': 0
}

df1["Rating text"] = df1["Rating text"].map(rating_mapping)

In [33]:
df1

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,4.8,0.000209,4.80,1100,1,0,0,0,3,4.8,0.031515,5,314
1,6304287,4.5,0.000209,4.50,1200,1,0,0,0,3,4.5,0.031515,5,591
2,6300002,4.4,0.000419,4.40,4000,1,0,0,0,4,4.4,0.112972,4,270
3,6318506,4.9,0.000419,4.70,1500,0,0,0,0,4,4.9,0.031515,5,365
4,6314302,4.8,0.000419,4.70,1500,1,0,0,0,4,4.8,0.031515,5,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,4.1,0.001466,4.40,80,0,0,0,0,3,4.1,0.112972,4,788
9547,5908749,4.2,0.001466,4.20,105,0,0,0,0,3,4.2,0.112972,4,1034
9548,5915807,3.7,0.001466,3.85,170,0,0,0,0,4,3.7,0.219872,3,661
9549,5916112,4.0,0.001466,3.85,120,0,0,0,0,4,4.0,0.112972,4,901
9550,5927402,4.0,0.001466,4.00,55,0,0,0,0,2,4.0,0.112972,4,591

In [34]:
from sklearn.preprocessing import OrdinalEncoder

ordinal = OrdinalEncoder()

restaurant_ids = df1[['Restaurant ID']]

ordinal_encoded_ids = ordinal.fit_transform(restaurant_ids)

# Replace the original column with the encoded values
df1['Restaurant ID'] = ordinal_encoded_ids

In [35]:
df1

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,4824.0,4.8,0.000209,4.80,1100,1,0,0,0,3,4.8,0.031515,5,314
1,4814.0,4.5,0.000209,4.50,1200,1,0,0,0,3,4.5,0.031515,5,591
2,4810.0,4.4,0.000419,4.40,4000,1,0,0,0,4,4.4,0.112972,4,270
3,4827.0,4.9,0.000419,4.70,1500,0,0,0,0,4,4.9,0.031515,5,365
4,4820.0,4.8,0.000419,4.70,1500,1,0,0,0,4,4.8,0.031515,5,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,4751.0,4.1,0.001466,4.40,80,0,0,0,0,3,4.1,0.112972,4,788
9547,4748.0,4.2,0.001466,4.20,105,0,0,0,0,3,4.2,0.112972,4,1034
9548,4752.0,3.7,0.001466,3.85,170,0,0,0,0,4,3.7,0.219872,3,661
9549,4754.0,4.0,0.001466,3.85,120,0,0,0,0,4,4.0,0.112972,4,901
9550,4757.0,4.0,0.001466,4.00,55,0,0,0,0,2,4.0,0.112972,4,591

In [36]:
df1["Aggregate rating"]

0       4.8
1       4.5
2       4.4
3       4.9
4       4.8
       ...
9546    4.1
9547    4.2
9548    3.7
9549    4.0
9550    4.0
Name: Aggregate rating, Length: 9551, dtype: float64

In [37]:
x = df1.drop(columns = "Aggregate rating", axis = 1)
y = df1["Aggregate rating"]

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state= 42)

In [40]:
x_train

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Rating color,Rating text,Votes
2629,8239.0,3.900000,0.573029,3.425000,500,0,0,0,0,2,0.219872,3,44
4685,3989.0,3.100000,0.573029,3.091071,500,0,0,0,0,2,0.391268,2,10
6159,7530.0,0.000000,0.573029,0.290000,600,0,0,0,0,2,0.224898,0,0
9197,4645.0,3.800000,0.002094,3.933333,800,0,0,0,0,3,0.219872,3,226
5605,8931.0,0.000000,0.573029,1.061765,200,0,0,0,0,1,0.224898,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,8641.0,0.000000,0.573029,0.000000,200,0,0,0,0,1,0.224898,0,0
5191,8593.0,3.800000,0.573029,3.428235,650,0,1,0,0,2,0.219872,3,75
5390,5820.0,0.000000,0.573029,0.585000,250,0,0,0,0,1,0.224898,0,0
860,4600.0,4.353846,0.002094,4.180000,1600,0,0,0,0,4,0.112972,4,66
7270,453.0,3.700000,0.573029,2.170149,600,0,1,0,0,2,0.219872,3,195

In [41]:
y_train

2629    3.9
4685    3.1
6159    0.0
9197    3.9
5605    0.0
       ...
5734    0.0
5191    3.8
5390    0.0
860     4.4
7270    3.7
Name: Aggregate rating, Length: 6685, dtype: float64

In [42]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor


linear_model = LinearRegression()
tree_decision = DecisionTreeRegressor(random_state= 42)

In [43]:
linear_model.fit(x_train, y_train)

LinearRegression()

In [44]:
tree_decision.fit(x_train,y_train)

DecisionTreeRegressor(random_state=42)

In [45]:
from sklearn.metrics import mean_squared_error, r2_score

In [46]:
y_pred_linear = linear_model.predict(x_test)
y_pred_tree = tree_decision.predict(x_test)

In [47]:
y_pred_linear

array([1.24779598, 4.2756984 , 3.04031776, ..., 3.72374954, 0.28410018,
       3.54679456])

In [48]:
y_pred_tree

array([2.4, 4.1, 3.2, ..., 3.5, 0. , 3.9])

In [49]:

metrics = pd.DataFrame({'Model': ['Linear Regression','Decision Tree Regression'], 'Mean_squared_error': [mean_squared_error(y_test, y_pred_linear), mean_squared_error(y_test, y_pred_tree)], 'Accuracy' : [linear_model.score(x_test, y_test)*100, tree_decision.score(x_test, y_test)*100], 'Mean_squared_error': [mean_squared_error(y_test, y_pred_linear), mean_squared_error(y_test, y_pred_tree)], 
                        'R_squared' : [r2_score(y_test, y_pred_linear), r2_score(y_test, y_pred_tree)]})
metrics

                      Model  Mean_squared_error   Accuracy  R_squared
0         Linear Regression            0.067814  97.003086   0.970031
1  Decision Tree Regression            0.021211  99.062626   0.990626

In [50]:
df1.corr()

,Restaurant ID,Restaurant Name,City,Locality,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
Restaurant ID,1.000000,-0.355822,-0.103234,-0.255403,0.006025,-0.142106,-0.111915,0.021313,NaN,-0.151695,-0.402260,-0.181578,-0.309825,-0.190269
Restaurant Name,-0.355822,1.000000,-0.235113,0.689887,0.054585,0.198995,0.213271,0.018748,NaN,0.458178,0.947418,-0.075223,0.906408,0.315900
City,-0.103234,-0.235113,1.000000,-0.290610,-0.051996,0.043860,0.068949,-0.006638,NaN,-0.269632,-0.215611,0.277150,-0.289468,-0.141781
Locality,-0.255403,0.689887,-0.290610,1.000000,0.070337,0.191083,0.131022,0.008460,NaN,0.486037,0.706127,-0.276946,0.738949,0.341731
Average Cost for two,0.006025,0.054585,-0.051996,0.070337,1.000000,0.007758,-0.018974,-0.001862,NaN,0.075083,0.051792,-0.061318,0.070402,0.067783
Has Table booking,-0.142106,0.198995,0.043860,0.191083,0.007758,1.000000,0.101224,-0.016816,NaN,0.501925,0.189998,-0.071519,0.193472,0.169422
Has Online delivery,-0.111915,0.213271,0.068949,0.131022,-0.018974,0.101224,1.000000,0.101730,NaN,0.077918,0.225699,0.034768,0.176510,0.074303
Is delivering now,0.021313,0.018748,-0.006638,0.008460,-0.001862,-0.016816,0.101730,1.000000,NaN,0.010940,0.019180,0.023081,0.011035,-0.001124
Switch to order menu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Price range,-0.151695,0.458178,-0.269632,0.486037,0.075083,0.501925,0.077918,0.010940,NaN,1.000000,0.437944,-0.277802,0.489157,0.309444
Aggregate rating,-0.402260,0.947418,-0.215611,0.706127,0.051792,0.189998,0.225699,0.019180,NaN,0.437944,1.000000,-0.033612,0.944397,0.313691
Rating color,-0.181578,-0.075223,0.277150,-0.276946,-0.061318,-0.071519,0.034768,0.023081,NaN,-0.277802,-0.033612,1.000000,-0.284719,-0.326235
Rating text,-0.309825,0.906408,-0.289468,0.738949,0.070402,0.193472,0.176510,0.011035,NaN,0.489157,0.944397,-0.284719,1.000000,0.399985
Votes,-0.190269,0.315900,-0.141781,0.341731,0.067783,0.169422,0.074303,-0.001124,NaN,0.309444,0.313691,-0.326235,0.399985,1.000000

In [51]:
correlation_matrix = df1.corr()

target_correlation = correlation_matrix['Aggregate rating']

target_correlation

Restaurant ID          -0.402260
Restaurant Name         0.947418
City                   -0.215611
Locality                0.706127
Average Cost for two    0.051792
Has Table booking       0.189998
Has Online delivery     0.225699
Is delivering now       0.019180
Switch to order menu         NaN
Price range             0.437944
Aggregate rating        1.000000
Rating color           -0.033612
Rating text             0.944397
Votes                   0.313691
Name: Aggregate rating, dtype: float64

In [52]:
thresholds = {
    'weak': 0.3,
    'moderate': 0.7
}

# Iterate over the target_correlation series
for feature, correlation in target_correlation.items():
    # Categorize the correlation based on the predefined thresholds
    if abs(correlation) < thresholds['weak']:
        category = 'weak'
    elif abs(correlation) < thresholds['moderate']:
        category = 'moderate'
    else:
        category = 'strong'
    
    # Print the result
    print(f"The correlation between target variable and {feature} is :- {category}")

The correlation between target variable and Restaurant ID is :- moderate
The correlation between target variable and Restaurant Name is :- strong
The correlation between target variable and City is :- weak
The correlation between target variable and Locality is :- strong
The correlation between target variable and Average Cost for two is :- weak
The correlation between target variable and Has Table booking is :- weak
The correlation between target variable and Has Online delivery is :- weak
The correlation between target variable and Is delivering now is :- weak
The correlation between target variable and Switch to order menu is :- strong
The correlation between target variable and Price range is :- moderate
The correlation between target variable and Aggregate rating is :- strong
The correlation between target variable and Rating color is :- weak
The correlation between target variable and Rating text is :- strong
The correlation between target variable and Votes is :- moderate

## Now as you can see the independent variable that have a strong correlation with the dependent variable "Aggregate Rating" are:- 
* Restaurant Name
* Locality
* Switch to Order
* Rating text